.app-header {
  text-align: center;
  margin-bottom: 30px;
}

.app-header h1 {
  font-size: 3rem;
  color: #f72585;
  text-shadow: 2px 2px 8px #7209b7;
  margin: 10px 0;
}

.app-banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.app-header p {
  font-size: 1.2rem;
  color: #c77dff;
  text-shadow: 1px 1px 4px #3b2c60;
}