.back-button {
  padding: 10px 18px;
  background-color: #f72585;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 600;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.15s ease, background-color 0.2s;
}

.back-button:hover {
  background-color: #b5179e;
  transform: scale(1.05);
}